@import '../../Variables.scss';
@mixin padding-left-list {
  padding-left: 1.5rem;
}
@mixin padding-left-project {
  padding-left: 3.5rem;
}

.app {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  min-height: 500px;
  min-height: -webkit-fill-available;

  overflow-x: hidden;
}

.user-lists {
  position: relative;

  padding: 1rem 0;
  &__list {
    display: flex;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    &:hover {
      background-color: $lessSaturatedThemeColor;
      cursor: pointer;
    }
    &:active {
      background-color: $lessSaturatedThemeColor;
    }

    &--active {
      background-color: $lessSaturatedThemeColor;
      .user-lists__list-label {
        color: $accentColor;
        font-weight: 700;
      }

      &:before {
        position: relative;
        right: 1rem;

        display: block;
        content: '';

        width: 0.2rem;
        height: 1.8rem;

        background-color: $accentColor;
      }
    }
  }

  &__list-icon {
    width: 2rem;

    fill: $accentColor;
  }

  &__list-label {
    margin-left: 1rem;

    font-size: 1.4rem;
    letter-spacing: 0.01em;
  }

  &__task-count {
    position: absolute;
    right: 2rem;

    font-size: 1.2rem;
    color: $accompanyingСolor;
  }

  &__project {
    margin-top: 0.5rem;
  }

  &__project-title {
    @include padding-left-list;

    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    cursor: pointer;

    &:hover {
      background-color: $lessSaturatedThemeColor;
    }
    &:active {
      background-color: $lessSaturatedThemeColor;
    }
  }

  &__project-icon {
    width: 2rem;
    fill: $accompanyingСolor;
  }

  &__project-label {
    display: inline-block;

    margin-left: 1.1rem;

    font-size: 1.4rem;
  }

  &__project-list {
    @include padding-left-project;
    position: relative;

    &:before {
      content: '';

      position: absolute;
      left: 2.4rem;

      display: block;
      height: 100%;
      width: 0.1rem;

      background-color: $accompanyingСolor;
    }

    &--active {
      .user-lists__list-label {
        color: $accentColor;
        font-weight: 700;
      }

      &:after {
        content: '';

        position: absolute;
        left: 2.3rem;

        width: 0.2rem;
        height: 2rem;

        background-color: $accentColor;
      }
    }
  }

  &__project-arrow {
    position: absolute;
    right: 1rem;

    width: 3rem;

    fill: $accompanyingСolor;

    transition: transform ease 200ms;

    &--close {
      transform: rotate(180deg);
    }
  }
}

.add-task-object {
  display: flex;
  align-items: center;

  width: 100%;

  &__add-list-object {
    width: 85%;
  }

  &__button-add-list {
    width: 100%;
    height: 3rem;

    padding-left: 1.5rem;

    font-size: 1.5rem;
    color: $accompanyingСolor;
    font-weight: 700;
    text-align: left;

    &:before {
      content: '+ ';
      display: inline;

      font-size: 2rem;
    }

    &:hover {
      cursor: pointer;
      background-color: $lessSaturatedThemeColor;
    }
  }

  &__add-project-object {
    width: 15%;
  }

  &__button-add-project {
    width: 100%;
    height: 3rem;
    &:hover {
      cursor: pointer;
      background-color: $lessSaturatedThemeColor;
    }
  }

  &__add-project-icon {
    width: 2.3rem;
    fill: $accompanyingСolor;
  }
}

.list {
  @media (max-width: 1250px) {
    flex-shrink: 0;
    width: 60%;
    padding: 2rem;
  }
  @media (max-width: 992px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }

  position: relative;
  overflow-y: auto;

  display: flex;

  flex-direction: column;

  flex-grow: 1;
  max-height: 100%;
  padding: 3rem;

  background-color: $bgColor;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__to-menu {
    display: none;
    // background-color: red;
    width: 4rem;
    height: 4rem;
    &:active {
      background-color: $lessSaturatedThemeColor;
    }

    @media (max-width: 500px) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  &__to-menu-icon {
    fill: $accompanyingСolor;
    transform: rotate(-90deg);
  }

  &__tasks {
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__task {
    margin-bottom: 0.2rem;
    background-color: $lessSaturatedThemeColor;
  }

  &__list-label {
    padding: 0.5rem;

    color: $accentColor;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;

    &:hover {
      background-color: $lessSaturatedThemeColor;
    }
  }

  &__tasks {
    flex-grow: 1;
  }

  &__new-task {
    height: 5rem;
  }
}

.new-task {
  display: flex;

  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: $lessSaturatedThemeColor;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 5rem;

    &-plus {
      fill: $accompanyingСolor;

      width: 3rem;
    }
    &-circle {
      fill: $accompanyingСolor;

      width: 2.6rem;
    }
  }

  &__input {
    flex-grow: 1;
    height: 100%;

    padding: 0.5rem;

    font-size: 1.5rem;
    color: $contrastColor;
  }
}
