@import '../../../Variables.scss';

@mixin padding-left-list {
  padding-left: 1.5rem;
}
@mixin padding-left-project {
  padding-left: 3.5rem;
}

.main-menu {
  @media (max-width: 1495px) {
    width: 30%;
  }
  @media (max-width: 1250px) {
    width: 40%;
  }
  @media (max-width: 992px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  height: inherit;
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding-top: 1rem;
  overflow-y: auto;
  transition: margin-left ease 200ms;

  // min-height: inherit;
  width: 20%;

  background-color: $themeColor;

  &--non-priority-display {
    @media (max-width: 500px) {
      margin-left: -100%;
    }
  }

  &__app-name {
    margin-bottom: 2rem;

    padding-left: 1.5rem;

    font-size: 1.8rem;
    color: $accompanyingСolor;
    font-weight: 300;
  }

  &__profile {
    position: relative;
    display: flex;
    padding-left: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    &:not(.main-menu__profile--open):active,
    &:not(.main-menu__profile--open):hover {
      cursor: pointer;
      background-color: $lessSaturatedThemeColor;

      .main-menu__profile-arrows {
        fill: $accentColor;
      }
    }
    &-dropdown {
      position: absolute;
      top: 100%;
      z-index: 500;
    }
  }

  &__user-photo {
    width: 2.5rem;
    fill: $accompanyingСolor;
  }

  &__user-photo {
    width: 2.5rem;
    fill: $accompanyingСolor;
  }

  &__personal-data {
    padding-left: 0.9rem;
  }

  &__full-name {
    font-family: Lato;
    font-size: 1.5rem;
  }

  &__username {
    display: inline-block;
    font-size: 1.2rem;
    color: $accompanyingСolor;
  }

  &__profile-arrows {
    // align-self: baseline;
    margin-left: 2rem;
    width: 0.8rem;
    fill: $accompanyingСolor;
  }

  &__tasks-essence {
    margin-top: 1rem;
    border-bottom: 0.1rem solid $lessSaturatedThemeColor;
  }

  &__add-task-object {
    &--fixed {
      position: fixed;
      bottom: 0;
      z-index: 10;

      width: inherit !important;
      box-sizing: border-box;

      background-color: $themeColor;
    }
  }
}

.tasks-essence {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding-bottom: 1rem;

  &__essence-item {
    display: flex;
    align-items: center;

    margin: 0.2rem 0;
    @include padding-left-list;

    &:hover {
      background-color: $lessSaturatedThemeColor;
      cursor: pointer;
    }
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
  }

  &__icon {
    width: 1.8rem;
  }

  &__icon-important {
    fill: hsl(39, 74%, 49%);
  }

  &__icon-tasks {
    fill: hsl(123, 59%, 30%);
  }

  &__essence-label {
    position: relative;

    display: inline-block;

    padding: 1.5rem 0 1.5rem 1rem;
  }

  &__essence-item--active {
    @mixin before_for_active {
      position: absolute;
      left: -1rem;

      display: block;
      content: '';

      width: 0.2rem;
      height: 1.8rem;
    }

    background-color: $lessSaturatedThemeColor;

    .tasks-essence__icon-important {
      fill: hsl(39, 74%, 43%);
    }
    .tasks-essence__icon-tasks {
      fill: hsl(123, 59%, 25%);
    }

    .tasks-essence__icon-important + .tasks-essence__essence-label {
      color: hsl(39, 74%, 43%);
    }

    .tasks-essence__icon-tasks + .tasks-essence__essence-label {
      color: hsl(123, 59%, 25%);
    }

    .tasks-essence__essence-label {
      font-weight: 700;
    }

    .tasks-essence__item--important {
      &:before {
        @include before_for_active;
        background-color: hsl(39, 74%, 43%);
      }
    }

    .tasks-essence__item--tasks {
      &:before {
        @include before_for_active;
        background-color: hsl(123, 59%, 25%);
      }
    }
  }

  &__task-count {
    position: absolute;
    right: 2rem;

    font-size: 1.2rem;
    color: $accompanyingСolor;
  }
}
