@import '../../../Variables.scss';

.task {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 2;

  padding: 1.5rem 1rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: skew(10deg);
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.2rem solid $accompanyingСolor;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
  &__checkbox-checkmark {
    width: 55%;
    fill: $themeColor;
  }

  &__checkbox:checked + &__checkbox-label {
    border: none;
    background-color: $accentColor;
    animation: showCheckbox 100ms forwards;
  }

  &__wrapper-task-essence {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__task-essence {
    padding-left: 1.5rem;
    font-size: 1.3rem;
    color: $contrastColor;
    font-weight: 400;
    letter-spacing: 0.02em;

    &--completed {
      color: $accompanyingСolor;
      text-decoration: line-through;
    }

    &--edit-field {
      background-color: $bgColor;
      padding-top: 1rem;
    }

    &--editable {
      cursor: text;
    }
  }

  &__additional-info {
    display: flex;
    align-items: center;

    margin-left: 1.2rem;
  }
  &__note-icon {
    width: 1.5rem;
    fill: $accompanyingСolor;
  }
  &__is-note {
    margin-left: 0.5rem;
    color: $accompanyingСolor;
  }

  &__important-button {
    // margin-left: auto;
  }

  &__important-icon {
    width: 2.5rem;
    height: 2.5rem;

    &--true {
      fill: $accentColor;
    }
    &--false {
      fill: $accompanyingСolor;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
