@import '../../../Variables.scss';

.task {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 2;

  padding: 1.5rem 1rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: skew(10deg);
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-label {
    display: block;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.2rem solid $accompanyingСolor;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox:checked + &__checkbox-label {
    border: none;
    background-color: $accentColor;
    &:after {
      // content: url(./assets/icons/checkmark.svg);
      position: relative;
      top: 0.6rem;
      right: 0.3rem;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__wrapper-task-essence {
    display: flex;
    flex-direction: column;
  }

  &__task-essence {
    padding-left: 1.5rem;
    flex-grow: 1;

    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.02em;

    &--completed {
      color: $accompanyingСolor;
      text-decoration: line-through;
    }
  }

  &__additional-info {
    display: flex;
    align-items: center;

    margin-left: 1.2rem;
  }
  &__note-icon {
    width: 1.5rem;
    fill: $accompanyingСolor;
  }
  &__is-note {
    margin-left: 0.5rem;
    color: $accompanyingСolor;
  }

  &__important-button {
    margin-left: auto;
  }

  &__important-icon {
    width: 2.5rem;
    height: 2.5rem;

    &--true {
      fill: $accentColor;
    }
    &--false {
      fill: $accompanyingСolor;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
