@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './Variables.scss';

html {
  @media (max-width: 1920px) {
    font-size: 10px;
  }
  @media (max-width: 992px) {
    font-size: 9px;
  }

  @media (max-width: 500px) {
    font-size: 12px;
  }
  font-size: 13px;
  scrollbar-color: $accompanyingСolor $themeColor; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */

  background-color: $themeColor;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  margin: 0 1px;
  background-color: $accompanyingСolor;
  border-radius: 9em;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $bgColor;
  color: $contrastColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
button,
input {
  outline: none;
  background: none;
  border: none;
}
textarea {
  outline: none;
  background: none;
  border: none;
  resize: none;
}
