// $themeColor: hsl(5, 0%, 8%);
// $lessSaturatedThemeColor: hsla(0, 0%, 5%, 0.5);
// $contrastColor: hsl(0, 0%, 100%);
// $accompanyingСolor: hsl(0, 0%, 29%);
// $bgColor: hsl(5, 0%, 10%);

$accentColor: hsl(195, 45%, 35%);
$dangerColor: hsl(0, 77%, 24%);
$succesColor: hsl(119, 87%, 12%);

$themeColor: hsl(0, 0%, 80%);
$lessSaturatedThemeColor: hsla(0, 0%, 65%, 0.5);
$contrastColor: hsl(0, 0%, 0%);
$bgColor: hsl(0, 8%, 92%);
$accompanyingСolor: hsl(0, 0%, 55%);
